@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
    background-image: url(../img/pirate-ship.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

