@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
    background-image: url(../img/pirate-ship.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header, .subhead {
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }